@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,300;0,400;0,500;0,600;1,500&family=Newsreader:ital,opsz@1,6..72&display=swap");
@import url("https://fonts.cdnfonts.com/css/gt-america-trial");
@import url("https://fonts.cdnfonts.com/css/new-york");

/* font-family: "GT America Trial", sans-serif;
font-family: "GT America Mono Trial", sans-serif;
font-family: "NEW YORK", sans-serif;
font-family: "Newsreader", sans-serif; */
body {
  font-family: "Inter Tight", sans-serif;
}

/* ================= */
/* RESET CSS */
/* ================= */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #000;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
ul {
  list-style: none;
  padding-left: 0;
}

/* ================= */
/* COMMON CSS */
/* ================= */
.slick-arrow.slick-hidden {
  display: unset;
}
.container {
  max-width: 1372px;
  margin: 0 auto;
  /* padding: 0 15px; */
}
.newsletter form input.user-name,
.footer-form form input.user-name {
  color: #fff;
  background-color: #000;
  padding: 15px;
  max-width: 500px;
  width: 100%;
  border: 1px solid #cecece;
}

.btn {
  text-decoration: none;
  padding: 15px 30px;
  color: #000;
  font-family: "Inter Tight";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn-primary,
.btn-secondary:hover {
  color: #000;
  border: 1px solid white;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  /* box-shadow: 0 0 10px white; */
}

.btn-secondary,
.btn-primary:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}
h2.section-header {
  color: #fff;
  font-family: "Inter Tight";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 148.996%; /* 71.518px */
}

.about-us h3,
.service-type h3.header {
  color: #fff;
  font-family: "Inter Tight";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 177.996%; /* 71.198px */
}
.talented-team h5.member-heading,
.our-achievement h5.slider-heading {
  color: #fff;
  font-family: "Inter Tight";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 148.996%; /* 35.759px */
}
.client-reviews-sliderBtns,
.our-achievements-sliderBtns {
  display: flex;
  align-items: center;
  gap: 17px;
}
.btn-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.btn-arrow .slider-arrow path {
  transition: all 0.5s ease-in-out;
}
.btn-arrow .slider-arrow.left {
  transform: rotate(180deg);
}

.btn-arrow:hover {
  background-color: #fff;
  border-color: #000;
}
.btn-arrow:hover .slider-arrow path {
  fill: #000;
}

/* ================= */
/* HEADER */
/* ================= */

header.header {
  margin-top: 34px;
  position: relative;
}

/* ======== NAVBAR ======== */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul.nav-list {
  display: flex;
  align-items: center;
  gap: 52px;
  list-style: none;
}
ul .nav-link {
  text-decoration: none;
  color: #fff;
  font-family: "Inter Tight";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}
ul .nav-link::after {
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 2px;
  width: 0;
  display: inline-block;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
ul .nav-link:hover::after {
  width: 45px;
}

/* ======== HERO ======== */

.hero {
  padding: 178px 0 121px;
  position: relative;
}
.hero::after {
  content: "";
  display: inline-block;
  background: rgb(125 91 222 / 85%);
  /* background: rgba(117, 68, 255, 0.37); */
  width: 576px;
  height: 388px;
  position: absolute;
  z-index: -1;
  top: 100px;
  right: -10px;
  border-radius: 50%;
  filter: blur(169px);
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 840px;
  margin-inline: auto;
}
.hero-content-wrapper h1 {
  color: #fff;
  text-align: center;
  font-family: "Inter Tight";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
}
.hero-content-wrapper p {
  max-width: 737px;
  margin: 24px 0 56px;
  color: #fff;
  text-align: center;
  font-family: "Inter Tight";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 173.496%;
}

/* ================= */
/* ABOUT-US */
/* ================= */
.video-wrapper video {
  width: 100%;
}
.video-wrapper {
  margin-bottom: 109px;
  position: relative;
}
.video-wrapper img {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.about-us h3 {
  position: relative;
  max-width: 1187px;
  margin-bottom: 72px;
}
.about-us h3::before {
  content: "";
  display: inline-block;
  background: rgb(125 91 222 / 85%);
  width: 400px;
  height: 328px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: -100px;
  border-radius: 50%;
  filter: blur(169px);
}
.about-us .cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 25px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.about-us .cta p {
  color: #fff;
  font-family: "Inter Tight";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 177.996%; /* 42.719px */
}

/* ================= */
/* SERVICES */
/* ================= */

.services {
  margin-top: 94px;
}

.service-header {
  margin-bottom: 163px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ======== SERVICE CARDS ======== */

.service-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  margin-bottom: 162px;
}
.service-card {
  border-radius: 12px;
  width: 492px;
  padding: 33px 32px 23px;
}
.service-arrow path,
.service-arrow circle {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.service-arrow:hover circle {
  fill: #fff;
}
.service-arrow:hover path {
  fill: #000;
}
.service-cards .service-card:first-child {
  background-image: url(../assets/retail.marketing.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.service-card h3.header {
  max-width: 308px;
  margin-bottom: 44px;
  color: #000;
  /* leading-trim: both;
  text-edge: cap; */
  font-family: "Inter Tight";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 119.996%; /* 47.998px */
}
.service-cards .service-card:nth-child(2) {
  position: relative;
  background-image: url(../assets/shopping.marketing.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.service-cards .service-card:nth-child(2) .service-arrow {
  position: absolute;
  top: 37px;
  right: 27px;
}
.service-cards .service-card:nth-child(3) {
  margin-left: 354px;
  padding: 30px 30px 23px;
  background-image: url(../assets/retail.analytics.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.service-cards .service-card:nth-child(3) h3 {
  margin-bottom: 94px;
}
.service-cards .service-card:last-child {
  background-image: url(../assets/communication.bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.service-card:last-child h3.header {
  max-width: 447px;
  color: #fff;
}

/* ======== SERVICE TYPES ======== */

.service-type {
  display: flex;
  gap: 160px;
  border-bottom: 1px solid #fff;
  margin-top: 103px;
}
.service-type:nth-child(1) {
  margin-top: unset;
}
.service-type:nth-child(4) {
  border-bottom: unset;
}
.service-type:nth-child(4) .detail {
  margin-bottom: 132px;
}
.service-type h4.counter {
  position: relative;
  color: #fff;
  font-family: "Inter Tight";
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; /* 95.357px */
}
.service-type h4.counter::after {
  content: "";
  width: 87px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 35px;
  left: 95px;
}
.service-type .header {
  line-height: 148.996%; /* 59.598px */
}

.service-type .detail {
  max-width: 1101px;
  margin-top: 20px;
  margin-bottom: 70px;
  color: #fff;
  font-family: "Inter Tight";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 189.496%; /* 45.479px */
}

/* ======== SERVICE GALLERY ======== */

.service-gallery {
  display: flex;
  gap: 22px;
}

/* ======== LEARN MORE ======== */
.learn-more {
  margin-block: 282px 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.learn-more h2.header {
  /* margin-bottom: 20px; */
  max-width: 1042px;
  /* margin-inline: auto; */
  color: #fff;
  text-align: center;
  /* leading-trim: both;
  text-edge: cap; */
  font-family: "Inter Tight";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 148.996%; /* 95.357px */
}
.learn-more a.btn-primary {
  display: inline-block;
  text-align: center;
}

/* ================= */
/* TESTIMONIALS */
/* ================= */
.testimonials .slick-list.draggable {
  padding-bottom: 182px;
}

.testimonial-wrapper {
  margin-bottom: 83px;
  display: flex;
  justify-content: space-between;
  /* gap: ; */
}
.testimonial-wrapper h4.header {
  max-width: 448px;
  color: #fff;
  font-family: "Inter Tight";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 148.996%; /* 71.518px */
}

/* ======== CLIENT REVIEW ======== */

/* .slider {
  width: 100%;
} */

.client-review {
  display: flex;
  gap: 107px;
  /* justify-content: space-between; */
  align-items: center;
}
.client-detail-slider {
  position: relative;
}
.client-detail-slider::after {
  content: "";
  display: inline-block;
  background: rgb(125 91 222 / 85%);
  width: 577px;
  height: 230px;
  position: absolute;
  z-index: -1;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  filter: blur(169px);
}
.client-detail-slider h5 {
  max-width: 829px;
  color: #fff;
  /* leading-trim: both;
  text-edge: cap; */
  font-family: "Newsreader";
  font-size: 34px;
  font-style: italic;
  font-weight: 400;
  line-height: 169.496%; /* 57.629px */
}

.client-intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.client-intro p {
  position: relative;
  color: #fff;
  /* leading-trim: both;
  text-edge: cap; */
  font-family: "Inter Tight";
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 169.496%; /* 33.899px */
}
.client-intro p::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 1px;
  background-color: #fff;
  top: 50%;
  left: -70px;
  transform: translatey(-50%);
}

/* ================= */
/* NEWSLETTER */
/* ================= */

.newsletter {
  margin-bottom: 149px;
}
.newsletter-wrapper {
  border: 1px solid #cecece;
  padding: 130px 0;
  position: relative;
}
.newsletter h3.header {
  max-width: 964px;
  margin-inline: auto;
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
  /* leading-trim: both;
  text-edge: cap; */
  font-family: "Inter Tight";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 148.996%; /* 95.357px */
}
.newsletter h3.header::after {
  content: url(../assets/signup.form.bottom.right.png);
  position: absolute;
  right: -50px;
  bottom: -120px;
  width: 272px;
  height: 272px;
  border-radius: 50%;
}
.newsletter form {
  display: flex;
  align-items: center;
  justify-content: center;
}
input::placeholder {
  color: rgb(255, 255, 255);
}

.newsletter form input.user-name {
  background-color: #000;
  padding: 15px;
  max-width: 500px;
  width: 100%;
  border: 1px solid #cecece;
}
.newsletter form .btn-sign-up {
  font-weight: 500;
  margin-left: -1px;
  padding-block: 15px;
  padding-inline: 40px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  border: 1px solid #fff;
}
.newsletter form .btn-sign-up:hover {
  color: #fff;
  background-color: #000;
}

/* ================= */
/* ABOUT US AI */
/* ================= */

.about_us_AI .header_wrapper {
  display: flex;
  align-items: center;
  gap: 231px;
}
.about_us_AI .header_wrapper h5 {
  max-width: 829px;
  color: #fff;
  /* leading-trim: both;
  text-edge: cap; */
  font-family: "Newsreader";
  font-size: 34px;
  font-style: italic;
  font-weight: 400;
  line-height: 169.496%; /* 57.629px */
}
.about_us_AI .header_wrapper h3 {
  position: relative;
  color: #fff;
  font-family: "Inter Tight";
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
  line-height: 189.496%; /* 75.798px */
}
.about_us_AI .header_wrapper h3::after {
  /* background-image: url(../assets/about-us-wrapper-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  content: url(../assets/about-us-wrapper-bg.png);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.about_us_AI .detail_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about_us_AI .detail_wrapper::after {
  content: "";
  display: inline-block;
  background: rgb(125 91 222 / 85%);
  /* background: rgba(117, 68, 255, 0.37); */
  width: 500px;
  height: 300px;
  position: absolute;
  z-index: -1;
  top: 150px;
  left: 150px;
  border-radius: 50%;
  filter: blur(169px);
}
.about_us_AI p {
  color: #fff;
  font-family: "Inter Tight";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 189.496%; /* 45.479px */
}
.about_us_AI .detail_wrapper p:nth-child(1) {
  margin-bottom: 31px;
  margin-top: 60px;
}
.about_us_AI p:nth-child(3) {
  margin-block: 91px 20px;
}
.about_us_AI h6 {
  margin-block: unset;
  color: #49b46b;
  font-family: "Inter Tight";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 189.496%; /* 45.479px */
}
.more_detail_wrapper h4 {
  margin-bottom: 50px;
  position: relative;
  max-width: 1150px;
  color: #fff;
  font-family: "Inter Tight";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 189.496%; /* 45.479px */
}
.more_detail_wrapper h4::after {
  content: url(../assets/about-us.card.jpg);
  position: absolute;
  right: -223px;
  top: 0;
  z-index: -1;
}

.more_detail_wrapper p {
  max-width: 776px;
}

/* ================= */
/* OUR TEAM */
/* ================= */

.our-team {
  margin-block: 214px 121px;
}
.our-team h2.section-header {
  text-align: center;
  margin-bottom: 74px;
}
.team-wrapper {
  display: flex;
  align-items: center;
  gap: 27px;
}
.team-detail {
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team-detail h6 {
  margin-block: unset;
  color: #fff;
  /* leading-trim: both;
  text-edge: cap; */
  font-family: "Inter Tight";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 148.996%; /* 35.759px */
}
.team-detail p {
  color: #fff;
  /* leading-trim: both;
  text-edge: cap; */
  font-family: "Newsreader";
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

/* ================= */
/* OUR VALUES */
/* ================= */

.our-values .values-wrapper {
  margin-top: 58px;
  display: flex;
  align-items: center;
  gap: 42px;
}
.our-values .values-wrapper p {
  position: relative;
  color: #fff;
  /* leading-trim: both;
  text-edge: cap; */
  font-family: "Inter Tight";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 148.996%; /* 47.679px */
}
.our-values .values-wrapper .separator {
  width: 87px;
  height: 1px;
  background-color: #fff;
}

/* ================= */
/* OUR ACHIEVEMENTS */
/* ================= */
.our-achievements {
  margin-block: 141px 136px;
}
.our-achievements .achievement-wrapper {
  margin-bottom: 83px;
  display: flex;
  justify-content: space-between;
}
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  margin-inline: 21.5px;
}
.achievement-slider {
  display: flex;
  gap: 47px;
}
/* .achievement {
} */
.achievement-detail {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.achievement-detail h6 {
  margin-block: unset;
  color: #fff;
  font-family: "Inter Tight";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 148.996%; /* 35.759px */
}
.achievement-detail p {
  color: #fff;
  font-family: "Inter Tight";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 148.996%; /* 35.759px */
}

/* ================= */
/* FOOTER*/
/* ================= */

.footer-wrapper {
  margin-bottom: 47px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.about-company p {
  margin-top: 22px;
  max-width: 222px;
  color: #fff;
  font-family: "Inter Tight";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 189.496%; /* 30.319px */
}
.footer-menu h5 {
  margin-bottom: 29px;
  color: #fff;
  font-family: "Inter Tight";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 148.996%; /* 26.819px */
}
.footer-menu ul a {
  text-decoration: none;
  color: #fff;
  font-family: "Inter Tight";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 189.496%; /* 30.319px */
}
.footer-form form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer-form h4 {
  padding-bottom: 33px;
  color: #fff;
  font-family: "Inter Tight";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-banner {
  border-top: 1px solid #ffffff42;
  padding-block: 39px;
}
.container-custom {
  max-width: 1372px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company-copyrights {
  display: flex;
  align-items: center;
  gap: 13px;
}
.company-copyrights h5 {
  color: #fff;
  font-family: "Inter Tight";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 189.496%; /* 22.74px */
}
.social-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  margin-inline: 21.5px;
}
